# Langfuse Configuration
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_BASE_URL=https://cloud.langfuse.com

# LLM Provider API Keys
GEMINI_API_KEY=
OLLAMA_API_KEY=
GROQ_API_KEY=
AZURE_OPENAI_KEY=
ANTHROPIC_API_KEY=
